@charset "utf-8";

/* 全体レイアウト開始 */
header, nav, #graphic,body,#contents,footer {
    width: 100%;
}

header h1 img {
    width: 100%;
    max-width: 676px;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

#main, #sub {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sub {
	width: 100%;
	max-width: 230px;
	float: none;
    padding-top: 20px;
}
footer {
	padding-top: 30px;
}
/* 全体レイアウト終了 */

/* indexレイアウト開始 */

#graphic {
    padding-top: 10px;
}

#graphic ul li img {
	width: 100%;
}

nav ul {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: none;
    width: 100%;
}

nav ul li#nav_introduction a,
nav ul li#nav_Illustrator a,
nav ul li#nav_HTMLCSS a,
nav ul li#nav_Photoshop a {
    width: 100%;
    border: 1px solid #e2e8e4;
    border-top: none;
    border-left: none;
    display: block;
    height: auto;
    margin-bottom: 0;
    padding: 8px 0 8px 0;
    background: #6eb5c0;
    color:#e2e8e4 ;
    text-align: center;
    text-decoration: none;
}
nav ul li#nav_introduction a:hover,
nav ul li#nav_Illustrator a:hover,
nav ul li#nav_HTMLCSS a:hover,
nav ul li#nav_Photoshop a:hover {
    background-color: #006c84;
}

#index #main img {
    width: 100%;
}
#index #main,#news ul li,h2 {
    width: auto;
    float: none;
}
#index #news h2 {
	margin-bottom: 0;
}
#index #news ul li {
	padding: 20px 0 12px 0;
	text-indent: 0;
}
#index #news time {
	margin-bottom: 10px;
}
/* indexレイアウト終了 */
/* Illustratorレイアウト開始 */
#Illustrator #main img {
    padding-left: 35px;
}

#Illustrator #main #Black img {
    padding-left: 90px;
}

#Illustrator #main #Mystic img  {
    padding-left: 110px;
}

#Illustrator #main #Refraction img  {
    padding-left: 100px;
}
/* Illustratorレイアウト終了 */

/* Photoshopレイアウト開始 */
#Photoshop #main img {
    width: 450px;
    height: 300px;
    padding-left: 20px;
}

/* contactレイアウト開始 */
#contact #main img {
    padding-left: 35px;
}